%li.list-group-item.row
  .col-md-8
    = link_to item.name, item
  .col-md-2
    - if item.file_size and item.file_size > 0
      %td= number_to_human_size(item.file_size)
  .col-md-2
    %td= l(item.updated_at, format: :short)

