%h1 New account

= link_to t('accounts.new.dropbox'), new_services_dropbox_path, class: 'new-dropbox'
= link_to t('accounts.new.googledrive'), new_services_googledrive_path, class: 'new-google-drive'

%br/

= link_to 'Back', accounts_path
