%h1= t('accounts.index.add')

.row
  .col-md-3
    = link_to new_services_dropbox_path, class: 'thumbnail new-dropbox' do
      %img{'src' => asset_path('dropbox-icon-256.png'), :alt => t('accounts.new.dropbox')}
  .col-md-3
    = link_to new_services_googledrive_path, class: 'thumbnail new-google-drive' do
      %img{'src' => asset_path('googledrive-icon-256.png'), :alt => t('accounts.new.googledrive')}

%br/

= link_to t('accounts.new.back'), accounts_path, type: 'button', class: 'btn btn-default'
